.message {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resForm{
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  border: none;
  background-color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: red;
  
  
}

.finish {
  height: 60%;
  width: 60%;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
