.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  border: solid;
  width: 70%;
  align-items: center;

  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  padding: 10px;
  border-top: 0px;
  width: 70%;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.mainTable {
  margin-top: 40px;
}

.para {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.tryAgain {
  color: white;
  background-color: #074fad;
  height: 60px;
  width: 150px;
}

.logout {
  color: white;
  background-color: #074fad;
  height: 60px;
  width: 150px;
  position: relative;
  left: 110px;
  margin-bottom: 100px;
}

/* .userName {
  border-right: solid;
}

.score {
  border-right: solid;
}

.name {
  border-right: solid;
}

.userScore {
  border-right: solid;
} */
